body {
    font-family: "Nunito", sans-serif;
    @apply font-normal;
    @apply text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-semibold;
}

h1 {
    @apply text-5xl;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-3xl;
}
h4 {
    @apply text-2xl;
}
h5 {
    @apply text-xl;
}
h6 {
    @apply text-lg;
}

.text-primary {
    @apply text-indigo-500;
}

a {
    @apply text-indigo-800;
    @apply text-base;
    &.nocolor {
        @apply text-gray-900;
    }
    &.nohover {
        &:hover {
            @apply text-gray-900;
        }
    }

    @apply no-underline;
    @apply bg-transparent;
    &:hover {
        @apply text-purple-600;
        @apply no-underline;
        @apply cursor-pointer;
    }
}

a:not([href]):not([class]) {
    color: inherit;
    @apply no-underline;
}
a:not([href]):not([class]):hover {
    color: inherit;
    @apply no-underline;
}

.btn {
    @apply rounded-sm;
    @apply p-3;
    @apply px-6;
    @apply transition-all;
    @apply ease-in-out;
    @apply text-center;

    &.btn-big {
        @apply p-4;
        @apply px-16;
    }

    &.btn-small {
        @apply p-2;
        @apply px-3;
        @apply text-base;
    }

    &.btn-icon {
        @apply px-3;
        @apply rounded-lg;
    }

    &:hover {
        @apply cursor-pointer;
    }
}

.btn-danger {
    @apply bg-red-500;
    @apply p-3;
    @apply px-6;
    @apply text-white;

    &:hover {
        @apply text-white;

        @apply bg-red-600;
        @apply cursor-pointer;
    }
}

.btn-primary {
    @apply bg-indigo-500;
    @apply p-3;
    @apply px-6;
    @apply text-white;

    &:hover {
        @apply text-white;

        @apply bg-indigo-600;
        @apply cursor-pointer;
    }
}

.btn-secondary {
    @apply bg-white;
    @apply p-3;
    @apply px-6;
    @apply text-indigo-700;
    @apply border;
    @apply border-indigo-700;

    &:hover {
        @apply text-white;

        @apply bg-indigo-600;
        @apply cursor-pointer;
    }
}
input {
    @apply rounded-md;
}

.form-input {
    @apply border-indigo-200;
    &:focus {
        @apply border-indigo-400;
    }
}

.admin {
    @apply bg-gray-50;
    .sidebar {
        @apply z-40;
        transform: translateX(0);
        @apply transition-all;
        &.hide {
            transform: translateX(-2560px);
        }
    }

    .content {
        @apply md:ml-64;
        &.hide {
            @apply ml-0;
        }
    }
}

.card {
    @apply border;
    @apply border-gray-200;
    @apply min-w-full;
    @apply rounded;

    .card-header {
        @apply bg-gray-100;
        @apply p-3;
    }

    .card-body {
        @apply p-5;
        @apply bg-white;
    }
}

.form-group {
    @apply flex;
    @apply flex-col;
    @apply my-3;
}
